{% extends "simple-plugin/_layouts/base.twig" %}

{% block content %}
  <div class="d-flex align-items-end">
    {# <img src="{{ iconUrl }}" height="64" width="64"> #}
    <i class="fas fa-search h1 mr-1"></i>
    <h2>Testing multiple search</h2>
  </div>

  <div id="userList">
    <div class="input ltr my-4">
      <label>Search for something</label>
      <textarea class="search text fullwidth" rows="1" name="search"></textarea>
    </div>

    <table>
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Total Purchase</th>
        <th>Birthday</th>
      </thead>
      <tbody class="list">
        {% for item in craft.simplePlugin.getCustomers() %}
          <tr>
            <td class="name">{{ item.name }}</td>
            <td class="email">{{ item.email }}</td>
            <td class="totalPurchase">{{ item.totalPurchase }}</td>
            <td class="birthday">{{ item.birthday|dateFilter }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% js %}
  var options = {
    valueNames: ['name', 'email', 'totalPurchase', 'birthday'],
  };
  var searchTable = new List('userList', options);

  document.querySelector('textarea').addEventListener('input', function () {
    var value = this.value;
    console.log(value.split('\n'))
  });
{% endjs %}
