{% extends "_layouts/base.twig" %}

{% block content %}
  {# content #}
  <div class="uk-width uk-margin-top" uk-grid>
    <div class="uk-width-3-4@m uk-container">

      <h2>Menampilkan Kategori: {{category.title}}</h2>
      <div class="uk-grid-column-small uk-grid-row-large uk-child-width-1-3@s uk-text-center" uk-grid>
        {# category.slug == slug dari kategori yang diinginkan #}
        {% set cat = craft.categories.slug(category.slug) %}
        {% set entries = craft.entries.section('post').type('post').relatedTo(cat).all() %}
        {% for item in entries %}
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <a href="{{item.url}}"><img src="{{siteUrl}}{{item.imageCover.one().url}}" alt="Image Cover"></a>
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">{{item.title}}</h3>
                <p>Dipost tanggal {{item.postDate|date("d F, Y")}}</p>
                <span class="uk-label">{{item.postKategori.one()}}</span>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if entries is empty %}
        <p class="uk-heading-large uk-text-center">Kategori belum memiliki post.</p>
      {% endif %}

    </div>
    <div class="uk-width-1-4@m uk-width-1-1@s">
      <ul class="uk-nav uk-nav-default">
        <li class="uk-nav-header">Kategori</li>
        {% for item in craft.categories.all() %}
          <li><a href="{{item.url}}">{{item.title}}</a></li>
        {% endfor %}
        <li class="uk-nav-divider"></li>
        <li class="uk-nav-header">Post Terbaru</li>
        {% set recent = craft.entries.section('post').type('post').limit(5).all() %}
        {% for item in recent %}
          <li><a href="{{item.url}}">{{item.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {# end content #}
{% endblock %}