{% extends "_layouts/base.twig" %}

{% block content %}
	<div class="uk-width uk-margin-top" uk-grid>
    <div class="uk-width-3-4@m uk-container">
      <h2 class="uk-text-center">Silahkan pilih Kategori.</h2>
      <div class="uk-text-center uk-flex-center uk-grid-column-small uk-child-width-1-2@s uk-margin-bottom" uk-grid>
        {% set kategori = craft.categories.all() %}
        {% for item in kategori %}
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <a href="{{item.url}}"><img src="{{siteUrl}}{{item.imageCover.one().url}}" alt="Image Cover"></a>
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">{{item.title}}</h3>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="uk-width-1-4@m uk-width-1-1@s">
      <ul class="uk-nav uk-nav-default">
        <li class="uk-nav-header">Kategori</li>
        {% for item in craft.categories.all() %}
          <li><a href="{{item.url}}">{{item.title}}</a></li>
        {% endfor %}
        <li class="uk-nav-divider"></li>
        <li class="uk-nav-header">Post Terbaru</li>
        {% set recent = craft.entries.section('post').type('post').limit(5).all() %}
        {% for item in recent %}
          <li><a href="{{item.url}}">{{item.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}